{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <script type="text/javascript" src="js/jquery.min.js"></script>

</head>
<body class="login_bj" >
{% block content %}
    <div class="zhuce_body">
        <div class="zhuce_kong">
        	<div class="zc">
            	<div class="bj_bai">
                <h3>欢迎注册</h3>
           	  	<form method="post" action=".">
                    <p><p style="padding-bottom: 5px;">用户名</p>{{ form.username }}</p>
                    <p><p style="padding-bottom: 5px;">密码</p>{{ form.password1 }}</p>
                    <p><p style="padding-bottom: 5px;">再次输入密码</p>{{ form.password2 }}</p>
                    {% csrf_token %}
                    <input type="submit" value="注册" class="btn_zhuce"/>
                    <input type="hidden" value="{% url "blog:user_list" %}" />
                </form>
                </div>
            	<div class="bj_right">
                	<p>使用以下账号直接登录</p>
                    <a href="#" class="zhuce_qq">QQ注册</a>
                    <a href="#" class="zhuce_wb">微博注册</a>
                    <a href="#" class="zhuce_wx">微信注册</a>
                    <p>已有账号？<a href="{% url "blog:user_list" %}">立即登录</a></p>      
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>
